.bannerHero {
  background-color: #3d5ef3;
  min-height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bannerHero::before {
  content: "";
  width: 120%;
  height: 180px;
  position: absolute;
  top: -100px;
  background-color: #f9f9f9;
  clip-path: ellipse(50% 40% at 50% 50%);
}

.bannerHero::after {
  content: "";
  width: 120%;
  height: 180px;
  position: absolute;
  bottom: -100px;
  background-color: white;
  clip-path: ellipse(50% 40% at 50% 50%);
}

.bannerHero__main-container {
  display: flex;
  justify-content: center;
  padding: 0 10%;
  gap: 30px;
}

.bannerHero__left-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.bannerHero__right-container {
  flex: 1;
}

.bannerHero__button-mobile {
  display: none;
}

.bannerHero__title {
  font-weight: bold;
  color: white;
  font-size: 42px;
  margin: 0;
}

.bannerHero__description {
  color: white;
  padding-right: 10%;
}

.bannerHero__image--container {
  width: 284px;
  height: 248px;
  position: relative;
}

.bannerHero__image--background {
  width: 342px;
  height: 279px;
  background-color: #506cec;
  padding: 25px;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .bannerHero {
    min-height: 800px;
  }

  .bannerHero__main-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 5%;
  }

  .bannerHero__title {
    font-weight: bold;
    color: white;
    font-size: 32px;
    margin: 0;
  }

  .bannerHero__description {
    padding-right: 0;
  }

  .bannerHero__button-mobile {
    display: block;
    padding-top: 30px;
  }

  .bannerHero__button-desktop {
    display: none;
  }
}

@media (max-width: 480px) {
  .bannerHero::before {
    width: 130%;
  }

  .bannerHero::after {
    width: 130%;
  }
}
