.list-item {
  color: black;
}

.list-item-white {
  color: white;
}

.benefits {
  padding: 4rem 0;
  background-color: white;
}

.benefits__background {
  /*     clip-path: polygon(0 0, 0 100%, 100% 50%);
    height: 1600px;
    width: 80%;
    border-radius: 0px;
    background: #3555f6;
    position: absolute;
    margin-top: 150px; */
}

.benefits__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.benefits__section-imageContainer {
  flex: 1;
}

.benefits__section__texts {
  flex: 1;
  max-width: 500px;
}

.camino__texts--title {
  font-family: Montserrat;
  font-size: 3rem;
  color: #333333;
  font-weight: 700;
}

.camino__texts--description {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.25rem;
  letter-spacing: 0.02rem;
  color: black;
}

.benefits__section-img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .benefits__section {
    flex-direction: column;
  }

  .reverse2 {
    flex-direction: column-reverse;
  }
}
