.camino {
  padding: 4rem 0;
}

.camino__title {
  font-family: Montserrat;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #252b42;
  letter-spacing: 0.2px;
}

.camino__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.camino__background {
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  height: 1600px;
  width: 80%;
  border-radius: 0px;
  background: #3555f6;
  position: absolute;
  margin-top: 150px;
}

.camino__img {
  max-width: 600px;
}
.camino__img-b {
  max-width: 700px;
}

.camino__texts {
  max-width: 500px;
}

.camino__number {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  padding: 8px;
  border: 3px solid #b3bffc;
  border-radius: 50%;
  color: #b3bffc;
  text-align: center;
  margin-bottom: 1rem;
}

.camino__texts--title {
  font-family: Montserrat;
  font-size: 3rem;
  color: #333333;
  font-weight: 700;
}

.camino__texts--description {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.25rem;
  letter-spacing: 0.02rem;

  color: #777777;
}

.reverse {
  flex-direction: row-reverse;
}

.white {
  color: #fff;
}

@media (max-width: 1024px) {
  .camino__img {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .camino__section {
    flex-direction: column-reverse;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .camino__background {
    clip-path: polygon(0 0, 100% 25%, 100% 75%, 0 100%);
    height: 1200px;
    width: 100%;
    overflow: hidden;
    border-radius: 0px;
    background: #3555f6;
    position: absolute;
    margin-top: 550px;
  }
}
