.contact {
  padding: 4rem 0;
}

.contact__title {
  font-family: Montserrat;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #252b42;
  letter-spacing: 0.2px;
}

.contact__text {
  font-family: Montserrat;
  font-size: 1.75rem;
  text-align: center;
  color: #374754;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin-bottom: 6.25rem;
}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
}

.contact__form {
  display: flex;
  flex-direction: column;
  padding: 52px 50px;
  width: 50%;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;

  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 13px 0px;
}

.contact__input {
  padding: 19px 20px !important;
  background: #f5f5f5 !important;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 39px !important;
}

.contact__textarea {
  padding: 19px 20px !important;
  background: #f5f5f5 !important;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  height: 150px !important;
}

.contact__btn {
  padding: 18px 38px;
  background: #2091f9;
  border-radius: 35px;
  font-family: Montserrat;
  color: #fff;
  font-weight: 700;
  border: none;
}

.contact__location {
  width: 50%;
  padding: 2rem 2rem;
}

.contact__info {
  display: flex;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.contact__info--item {
  margin-right: 2rem;
}

.contact__info--text {
  font-family: Montserrat;
  font-size: 0.75rem;
  color: #374754;
}

.contact__icon {
  color: #2091f9;
  font-size: 32px;
}

.contact__map {
  width: 100%;
  height: 320px;
}

.contact__form--title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-family: Montserrat;
  font-weight: 700;
  color: #252b42;
}

@media (max-width: 974px) {
  .contact__wrapper {
    flex-direction: column-reverse;
  }

  .contact__location {
    width: 100%;
  }

  .contact__form {
    width: 100%;
  }
}
