.demo {
  position: relative;
}

.demo::before {
  content: "";
  width: 120%;
  height: 180px;
  position: absolute;
  top: -100px;
  background-color: white;
  clip-path: ellipse(50% 40% at 50% 50%);
  left: 50%;
  transform: translateX(-50%);
}

.demo__mainContainer {
  background-color: #7945ef;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 80px;
}

.demo__title {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

@media (max-width: 720px) {
  .demo__title {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .demo {
    position: relative;
    padding-bottom: 00px;
  }
}
