.downloadCoaches {
  position: relative;
  padding-bottom: 40px;
  min-height: 650px;
  background-color: #7945ef;
}

.downloadCoaches::before {
  content: "";
  width: 120%;
  height: 180px;
  position: absolute;
  top: -100px;
  background-color: #3d5ef3;
  clip-path: ellipse(50% 40% at 50% 50%);
  left: 50%;
  transform: translateX(-50%);
}

.downloadCoaches::after {
  content: "";
  width: 120%;
  height: 180px;
  position: absolute;
  bottom: -100px;
  background-color: white;
  clip-path: ellipse(50% 40% at 50% 50%);
  left: 50%;
  transform: translateX(-50%);
}

.downloadCoaches__mainContainer {
  padding: 120px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.downloadCoaches__imageContainer {
  width: 312px;
  height: 153px;
}

.downloadCoaches__image {
  width: 100%;
  height: 100%;
}

.downloadCoaches__title {
  font-size: 42px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px 0 40px;
}

.downloadCoaches__text {
  font-size: 20px;
  color: white;
  text-align: center;
}

.downloadCoaches__callToactionText {
  font-size: 28px;
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}

.downloadCoaches__appsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  gap: 30px;
}
