.ecosystem {
  width: 100%;
  min-height: 200px;
  background-color: #fafbff;
}

.ecosystem__container {
  padding: 80px 48px 0;
  max-width: 1552px;
  margin: 0 auto;
}

.ecosystem__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  text-align: center;
  color: #1f1b28;
}

.ecosystem__paragraph {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #1f1b28;
  padding-top: 20px;
}

.ecosystem__image {
  width: 100%;
  aspect-ratio: 1344 / 1007;
  background-image: url("/img/indigo2025/meeting.png");
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .ecosystem__title {
    font-size: 40px;
    line-height: 60px;
  }
  .ecosystem__paragraph {
    font-size: 22px;
    line-height: 28px;
  }
}

@media (max-width: 480px) {
  .ecosystem__container {
    padding: 80px 24px 0;
  }
  .ecosystem__title {
    font-size: 32px;
    line-height: 40px;
  }
  .ecosystem__paragraph {
    font-size: 18px;
    line-height: 28px;
  }
}
