.footer {
  width: 100%;
  background-color: #41257e10;
}

.footer__container {
  max-width: 1552px;
  margin: 0 auto;
  padding: 80px 96px 40px;
}

.footer__sections-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 200px;
}

.footer__logo {
  width: 107px;
  height: 35px;
  background-image: url("/img/indigo2025/logo-indigo.png");
}

.footer__location {
  display: block;
  white-space: pre-line;
  font-size: 16px;
}

.footer__section-title {
  font-size: 20px;
  font-weight: 700;
  color: #1f1b28;
}

.footer__section-link,
.footer__section-item {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: inherit; /* Hereda el color del texto */
  text-decoration: none;
}

.footer__section-link {
  text-decoration: underline;
}

.footer__section_social-container {
  display: flex;
  gap: 20px;
}

.footer__section-social {
  width: 33px;
  height: 33px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.footer__section-store {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.footer__copyright {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #1f1b28;
  text-align: center;
  padding-top: 60px;
}

.footer__links-section {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .footer__container {
    text-align: center;
  }
  .footer__sections-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer__section {
    align-items: center;
  }

  .footer__links-section {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer__container {
    padding: 80px 24px 40px;
  }
}
