@import "/vendor/aos/aos.css";
@import "/vendor/bootstrap/css/bootstrap.min.css";
@import "/vendor/bootstrap-icons/bootstrap-icons.css";
@import "/vendor/boxicons/css/boxicons.min.css";
@import "/vendor/swiper/swiper-bundle.min.css";

html {
  overflow-x: hidden;
}

body {
  font-family: Nunito Sans, sans-serif;
  color: #9fa1a4;
  line-height: 1.5;
  font-size: 16px;
  overflow: hidden;
}

a {
  color: #777;
  text-decoration: none;
  transition: 0.3s all ease;
}

a:hover {
  color: #000;
}

.container {
  z-index: 2;
  position: relative;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #2d71a1;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3687c1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
