.hero-about-us {
  width: 100%;
  min-height: 200px;
  margin-top: 80px;
  background-color: #41257e10;
}

.hero-about-us__container {
  padding: 120px 48px;
  max-width: 1552px;
  margin: 0 auto;
}

.hero-about-us__title {
  font-weight: 600;
  font-size: 96px;
  line-height: 90px;
  color: #1f1b28;
  text-align: center;
  margin: 0;
}

.hero-about-us__paragraph {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #1f1b28;
  text-align: center;
  max-width: 763px;
  margin: 0 auto;
  padding-top: 40px;
}

.hero-about-us__sign {
  background-image: url("/img/indigo2025/sign.png");
  background-size: cover;
  aspect-ratio: 440 / 44;
  width: 100%; /* o una medida específica */
  max-width: 440px;
  margin: 0 auto;
  margin-top: 40px;
}

@media (max-width: 1200px) {
  .hero-about-us__title {
    font-size: 76px;
  }

  .hero-about-us__paragraph {
    font-weight: 600;
    font-size: 21px;
  }
}

@media (max-width: 768px) {
  .hero-about-us__title {
    font-size: 64px;
  }

  .hero-about-us__paragraph {
    font-weight: 600;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .hero-about-us__title {
    font-size: 44px;
    line-height: 50px;
  }

  .hero-about-us__paragraph {
    font-weight: 600;
    font-size: 18px;
  }

  .hero-about-us__container {
    padding: 80px 24px;
  }
}
