.ourPrinciples {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.ourPrinciples__container {
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: #ecf0f1;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ourPrinciples__title {
  color: black;
  padding-bottom: 20px;
}

.ourPrinciples__subtitle {
  color: #3d5ef3ff;
}

.ourPrinciples__description {
  color: #34495e;
}

.ourPrinciples__item {
  margin-bottom: 30px;
}
