.ourTeam {
  width: 100%;
  background-color: #fbfbfe;
}

.ourTeam__container {
  max-width: 1552px;
  margin: 0 auto;
  padding: 80px 48px;
}

.ourTeam__indigo-image {
  background-image: url("/img/indigo2025/indigoDrawImage.jpeg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 950px;
  margin-top: 40px;
}

.ourTeam__muralTitle {
  font-size: 40px;
  color: #2b2537;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.ourTeam__mural-subtitle {
  display: block;
  font-size: 22px;
  color: #2b2537;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
}

@media (max-width: 1440px) {
  .ourTeam__indigo-image {
    height: 800px;
  }
}

@media (max-width: 1200px) {
  .ourTeam__indigo-image {
    height: 700px;
  }
}

@media (max-width: 768px) {
  .ourTeam__teamContainer {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .ourTeam__indigo-image {
    height: 500px;
  }
}

@media (max-width: 480px) {
  .ourTeam__muralTitle {
    font-size: 32px;
  }

  .ourTeam__mural-subtitle {
    font-size: 20px;
  }

  .ourTeam__container {
    padding: 80px 24px;
  }
  .ourTeam__indigo-image {
    height: 400px;
  }
}
