.services {
  padding: 4rem 0;
}

.services__title {
  font-family: Montserrat;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #252b42;
  letter-spacing: 0.2px;
}

.services__text {
  font-family: Montserrat;
  font-size: 1.75rem;
  text-align: center;
  color: #374754;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin-bottom: 6.25rem;
}

.services__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__card--img {
  width: 86px;
  height: 97px;
  margin-bottom: 1.5rem;
}

.services__card--title {
  font-family: Montserrat;
  font-size: 1.75rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2.375rem;
  color: #252b42;
  letter-spacing: 0.1px;
}

.services__card--text {
  font-family: Montserrat;
  font-size: 1.25rem;
  text-align: center;
  color: #374754;
  letter-spacing: 0.1px;
  line-height: 1.75rem;
  padding: 0 3rem;
}
