.sub-hero {
  padding: 4rem 0;
}

.sub-hero__title {
  font-family: Montserrat;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #252b42;
  letter-spacing: 0.2px;
}

.sub-hero__text {
  font-family: Montserrat;
  font-size: 1.75rem;
  text-align: center;
  color: #374754;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin-bottom: 3rem;
}
