.testimonials {
  background-color: #a799ff;
  padding: 6rem 0;
  text-align: center;
}

.testimonials__title {
  font-family: Montserrat;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4rem;
  color: #252b42;
  letter-spacing: 0.2px;
}

.testimonials__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testimonials__card {
  border: 2px solid #c2b8fd;
  flex-direction: column;
  border-radius: 10px;
  color: #26dcb0;
  display: flex;
  flex: 1;
  padding: 2.5rem 2rem;
  justify-content: space-between;
  margin: 0 1rem;
}

.testimonials__card--photo {
  width: 64px;
  height: 64px;
  margin-right: 2rem;
}

.testimonials__summary {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.testimonials__summary--text {
  text-align: left;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1.875rem;
  color: #252b42;
}

.testimonials__summary--name {
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.625rem;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ffffff;

  opacity: 0.3;
}

@media (max-width: 974px) {
  .testimonials__cards {
    flex-direction: column;
  }

  .testimonials__card {
    margin-bottom: 2.5rem;
  }
}
