.userBenefits__mainContainer {
  padding: 40px 0;
}

.userBenefits__title {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #3d5ef3;
}

.userBenefits__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  flex-wrap: wrap;
  min-height: 450px;
  padding-top: 40px;
}

.userBenefits__item {
  height: 550px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  flex: 1;
  background-color: #f4f6ff;
  border-radius: 24px;
}

.userBenefits__card-number {
  font-size: 24px;
  color: #3d5ef3;
  font-weight: bold;
  margin: 0;
}

.userBenefits__card-number--circle {
  position: absolute;
  top: -25px;
  border: 1px solid #3d5ef3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 20px;
}

.userBenefits__card-title {
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0 20%;
}

.userBenefits__card-text {
  font-size: 14px;
  color: black;
  text-align: center;
  padding: 0 10%;
}

.userBenefits__icon--container {
  width: 180px;
  padding: 20px;
  margin-top: 30px;
}

.userBenefits__icon {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media (max-width: 800px) {
  .userBenefits__container {
    flex-direction: column;
  }

  .userBenefits__item {
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .userBenefits__container {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .userBenefits__mainContainer {
    background-color: #f9f9f9;
    padding-top: 30px;
  }
}

@media (max-width: 480px) {
  .userBenefits__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    min-height: 450px;
    padding-top: 40px;
  }
}
